body {
    margin: 0;
    padding-bottom: 5rem;
    background: #eff8f9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#form {
    background: #5d87a7;
    padding: 1rem 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    box-sizing: border-box;
}

#input {
    background-color: #f5f3f3;
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button {
    background: transparent;
    color: #f5f3f3;
    border: none;
    margin: 0.25rem;
    outline: none;
    font-size: 1.5rem;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages>li {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
}

/*#messages>li:nth-child(odd) {*/
/*    background: #efefef;*/
/*}*/

.message {
    padding: 1rem 2rem;
    color: #1f3241;
}

.message.my-msg {
    align-self: flex-end;
    text-align: right;
    background: #abdb73;
}

.message.other-msg {
    align-self: flex-start;
    text-align: left;
    background: #91ccd4;
}

.message.chat-info {
    padding: 0;
    align-self: center;
    text-align: center;
    font-style: italic;
}