body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #eff8f9;
}

.main {
    color: #002e58;
    max-width: 1200px;
    margin: 0 auto;
}

.login-form,
.profile-info {
    padding: 2rem 1rem;
    background: #5d87a7;
    color: #eff8f9;
    margin: 30px auto;
    max-width: 800px;
    text-align: center;
}

.form__group,
.profile-info__section {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__group>label {
    text-align: left;
    flex-grow: 1;
}

.form__group>input {
    width: 80%;
    margin-left: 1rem;
    background-color: #f5f3f3;
    border: none;
    padding: 0.5rem 1rem;
}

.form__group>input:focus,
.light-btn:focus {
    outline: none;
}

.form__group>.btn {
    width: 100%;
}

.ortext {
    width: 100%;
    text-align: center;
}

.light-btn {
    background-color: #91ccd4;
    color: #002e58;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: 0.2s ease all;
}

.light-btn:active {
    transform: scale(0.9);
}

.light-btn:hover {
    box-shadow: 1px 1px 7px rgba(0,46,88,0.8);
}

.dark-link {
    text-decoration: none;
    color: #002e58;
    transition: 0.2s ease text-shadow;
}

.dark-link:hover {
    text-shadow: 1px 1px 7px rgba(245,243,243,0.8);
}

.dark-link:visited {
    color: #002e58;
}

.profile-info__section>.value {
    width: 80%;
    text-align: left;
}

.btn-logout {
    padding: 0.5rem 2rem;
}

.profile-info__section.others {
    flex-direction: column;
}

.profile-users-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.dark-line {
    border: none;
    background-color: #002e58;
    color: #002e58;
    height: 1px;
}