doctype html
html
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='shortcut icon' type='image/png' href='/static/img/favicon.ico')
            title CHapp | #{title}
            link(rel="stylesheet" href="/static/styles/chat-room.css")
            script(type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js')

    body
        ul#messages
        form#form
            input#input(autocomplete="off")
            button Send

        script(src='/static/js/scripts.js')
        script(src='https://cdn.socket.io/4.3.2/socket.io.min.js' integrity='sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs' crossorigin='anonymous')
        script.
            const socket = io();
            const messages = document.getElementById('messages');
            const form = document.getElementById('form');
            const input = document.getElementById('input');

            form.addEventListener('submit', function (e) {
                e.preventDefault();
                if (input.value) {
                    socket.emit('chat message', input.value);
                    input.value = '';
                }
            });

            socket.on("connect", async () => {
                const me = await currentUser()
                if(me) {
                    socket.emit('user join', me);
                }
            });

            socket.on('chat info', function (msg) {
                const item = document.createElement('li');
                item.classList.add('chat-info');
                item.textContent = msg;
                messages.appendChild(item);
                window.scrollTo(0, document.body.scrollHeight);
            });

            socket.on('chat message', async function (msg, user, socketId) {
                const item = document.createElement('li');
                socket.id === socketId ? item.classList.add('my-msg')
                                       : item.classList.add('other-msg');

                item.textContent = msg;
                messages.appendChild(item);
                window.scrollTo(0, document.body.scrollHeight);
            });