doctype html
html
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='shortcut icon' type='image/png' href='/static/img/favicon.ico')
            title CHapp | #{title}
            link(rel='stylesheet' href='/static/styles/style.css')
            link(rel="stylesheet" href="/static/styles/chat-room.css")
            link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous")
            script(type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js')

    body
        #chat__header
            .users-list
                #users-in-chat

            .my-info
                span.name Current user: #{user.name}
                a.to-profile(href='/v1/my-profile')
                    i(class="fas fa-user")
                    span My profile

        ul#messages

        form#form
            p#is-typing
            input#input(autocomplete="off")
            button
                i(class="far fa-paper-plane")

        script(src='/static/js/scripts.js')
        script(src='/static/js/chat-logic.js')
        script(src='https://cdn.socket.io/4.3.2/socket.io.min.js' integrity='sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs' crossorigin='anonymous')
        script(src='/static/js/chat-room.js')